RewriteEngine On
RewriteBase /

# redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# redirect html pages to the root domain
RewriteRule ^index\.html$ / [NC,R,L]
RewriteRule ^home\.html$ / [NC,R,L]

# caching
<IfModule mod_headers.c>
  <filesMatch "\.(css|jpg|jpeg|png|gif|ico|svg)$">
  Header set Cache-Control "max-age=604800, public"
  </filesMatch>
  Header set Clear-Site-Data: "*"
</IfModule>